# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Local environment variables
.env

# Streamlit secrets
streamlit/.streamlit/secrets.toml

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code settings
.vscode/

# Local python virtual environments
venv/
.env/

# Logs
*.log
